

<tr>
  <td><%= item.name %></td>
  <td><%= item.description %></td>
  <td><%= item.cost %></td>
  <td><%= item.quantity %></td>
  <td><%= item.category_title %></td>
  <td>
    <a href="/items/<%= item.id %>/edit" class="primary">Edit</a>
  </td>
  <td>
    <form action="/items/<%= item.id %>/delete" method="post">
      <button class="primary-alt">Delete</button>
    </form>
  </td>
</tr>
